%li
 = link_to 'About Us', '/index.html#mission', {:id => "close-nav"}
%li
 = link_to 'Educational Program', '/program.html'
%li
 = link_to 'Enrollment and Applying', '/enroll.html'
%li
 = link_to 'Questions', '/questions.html' 
%li
 = link_to 'Parents', '/parents.html'